.study-contents {
  display: flex;
  gap: 15px;

  .left {
    flex: 1;

    .content {
      height: calc(100vh - 100px);
      overflow-y: auto;
    }
  }

  .right {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .notes {
      height: calc(100vh - 410px);
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .note-card {
        padding: 5px;
        border-radius: 5px;
        background: #fff;
        box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px,
          rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px,
          rgba(42, 51, 70, 0.04) 0px 2px 2px -1px,
          rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
          rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px,
          rgba(42, 51, 70, 0.03) 0px 10px 10px -5px,
          rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
      }
    }

    .menus {
      padding: 10px;
      height: 300px;
      overflow-y: auto;
      background: #fafafa;
      border: 1px solid #ddd;

      li.active a {
        color: #5e94fa;
      }

      a {
        color: #666;

        &.level-1 {
        }
        &.level-2 {
          padding-left: 5px;
        }
        &.level-3 {
          padding-left: 10px;
        }
        &.level-4 {
          padding-left: 15px;
        }
      }
    }
  }
}

.content {
  h2 {
    padding: 5px 8px;
    padding-left: 18px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    border-left: 12px solid #4f9cee;
  }

  h3 {
    padding: 5px 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }

  .part-contents {
    padding: 0 10px;
  }

  h4 {
    padding: 3px 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
  }

  .sub-contents {
    padding: 0 10px;
  }

  p {
    margin: 5px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
  }

  table {
    th,
    td {
      padding: 3px 5px;
      border: 1px solid #c4cecf;
    }
  }

  .sub-contents {
    position: relative;
  }
}

img {
  height: unset;

  &.img-abs {
    position: absolute;
    top: 0;
    right: 20px;
  }
}

.list-result {
  width: max-content;
  padding: 5px;
  color: #fff;
  background: #000;
}

.box-note {
  max-height: calc(100vh - 170px);
  overflow-y: auto;
}
